{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}

    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h1>About</h1>
          <p>The PDX Code Guild grew out of an exploration of technology, learning, and business needs. We want to offer everyone in the Portland, Oregon area the learning opportunity that we would want.</p><!-- todo: more -->
        </div>
      </div>
    </div>

    <!-- todo: biographies, contact us if you need them urgently -->

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Community</h2>
          <p>Take your learning journey with a cohort of fellow travelers, help each other learn and excel, and make lifelong connections. Have fun and be around other exciting smart people while you grow into a first class developer along with them.
        </div>
        <div class="col-md-4">
          <h2>Support</h2>
          <p>It's OK to struggle with hard problems, that's what learning is about, but sometimes when you've been spinning your wheels for a while, it's nice to get moving again. We have the help you need, when you really need it. Not sure where to go next, or how to approach a problem? We can help show you the way.</p>
        </div>
        <div class="col-md-4">
          <h2>Space</h2>
          <p>Sometimes you just need to get out, and make space for adventures to happen. Sometimes you need to set aside time for learning and growth. We are that space and time. Share that space and time with us, and we will make you a software developer.</p>
          <!-- so cheesy! <3 -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <h1>PDX Code Guild</h1>
          <ul>
            <li>Twitter: <a href="https://twitter.com/pdxcodeguild">@PDXCodeGuild</a></li>
            <li>Facebook: <a href="https://www.facebook.com/PDXCodeGuild">PDX Code Guild</a></li>
            <li>Linked-in: <a href="https://www.linkedin.com/company/pdx-code-guild/">PDX Code Guild</a></li>
            <li>Git Hub: <a href="https://github.com/PdxCodeGuild">PDX Code Guild</a></li>
          </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <p>You can also <a href="../contact/">contact us</a> directly.</p>
      </div>
    </div>

    <hr>

{% endblock %}