{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
{% load i18n sekizai_tags %}
<section class="wrapper style1">
  <div class="container">
    <div id="content">
    <h2 style="text-align:center">{% trans "PDX Code Guild Advisors" %}</h2>
      <div class="container">
        <div class="row double">
          <section class="4u">
            <div class="box highlight2"> <img src="{% static 'img/alex-headshot-stone.png' %}" alt="Photo of Alex Chamberlain" class="img-team img-thumbnail"/>
              <h3>Alex Chamberlain<span id=":14h" tabindex="-1"></span></h3>
              <p>Advisor</p>
              <ul>
                <li>Linked-in: <a href="http://www.linkedin.com/pub/alex-chamberlain/35/9a/911">Alex Chamberlain</a></li>
              </ul>
              <br />
              <p>Alex Chamberlain has been involved in the process of software development in various capacities for almost twenty years, with a special interest in solving real-world problems by applying a thoughtful, user-centered approach to software design.  He has worked as a software engineer, business systems analyst, software tester, and college teacher of computer programming.  In his current position at Puppet Labs he is involved in all phases of testing Puppet Enterprise, an automated system-administration and configuration management tool, from high-level product-requirements analysis through hands-on manual testing. Currently he is focused on development of automated web application testing tools.  When not staring at a screen, he enjoys playing the guitar loudly and badly, cooking, taking care of his two elderly cats, and tinkering with vintage Japanese motorcycles.</p>
            </div>
          </section>
          <section class="4u">
            <div class="box highlight2"> <img src="{% static 'img/ed_snajder.jpg' %}" alt="Photo of Ed Snajder" class="img-team img-thumbnail"/>
              <h3>Ed Snajder<span id=":14h2" tabindex="-1"></span></h3>
              <p>Advisor</p>
              <ul>
                <li>Linked-in: <a href="http://www.linkedin.com/in/edinor">Ed Snajder</a></li>
                <li>O'Reilly Webcasts: <a href="http://www.oreilly.com/pub/au/5704">Ed Snajder</a></li>
              </ul>
              <p>Ed is the Database Administrator at Jive Software. He has been administering databases and analyzing data and  for over 10 years, and today finds himself working with PostgreSQL, MySQL, SQL Server and Oracle relational database engines, as well as HBase, Pig and other distributed technologies. He works on query and data structure design, performance optimization, systems configuration and troubleshooting for both internal and on-premises systems.

                When not having fun with databases, Ed is an aspiring hacker, with a self-built 3D printer, a couple of Raspberry Pis, and several mostly finished Arduino projects. An avid Portland tech community supporter, Ed has spoken at and participated in the PostgreSQL User Group, OSCON, Portland Code Camp, SQL Saturday and the Oregon SQL Developers' Group.</p>
            </div>
          </section>
          <section class="4u">
            <div class="box highlight2"> <img src="{% static 'img/nicole-phelps.jpg' %}" alt="Photo of Nicole Phelps" class="img-team img-thumbnail"/>
              <h3>Nicole Phelps<span id=":14h3" tabindex="-1"></span></h3>
              <p>Advisor</p>
              <ul>
                <li>Linked-in: <a href="https://www.linkedin.com/pub/nicole-phelps/46/79a/927">Nicole Phelps</a></li>
              </ul>
              <br />
              <p>Nicole is a software developer at Mash LLC in Portland, working on a project for Google. She wrote her first program as a sophomore at Oregon State University and, ever since, has become immersed in software development and entrepreneurship. While currently finishing her OSU degree in Computer Science with a focus on HCI, Nicole is starting the OSU App Challenge, a competition aimed at helping other students develop their technical skills and creativity. She has done mobile application development for OSU, Maps Credit Union, BuyBott, and Bioniq Health. Some development tools she enjoys using the most are Native iOS, Ruby on Rails, and Titanium development. When not on the computer, Nicole is usually playing volleyball or reading sci-fi/fantasy books</p>
            </div>
          </section>
        </div>
      </div>
      <div class="container">
        <div class="row double">
          <section class="4u">
            <div class="box highlight2"> <img src="{% static 'img/kelly.jpg' %}" alt="Photo of Kelly White" class="img-team img-thumbnail" />
              <h3>Kelly White<span id=":14h4" tabindex="-1"></span></h3>
              <p><b>Silvertail Software</b> <br>
                President</p>
              <ul>
                <li>Building Apps for Windows Phone: <a href="http://www.winphonedev.me/">Kelly White</a> </li>
                <li>Linked-in: <a href="https://www.linkedin.com/in/kellywhite">Kelly White</a> </li>
              </ul>
              <br />
              <p>Kelly White is the President of Silvertail Software, a software consultancy specializing in XAML solutions for the Windows Phone and Windows 8 App Stores. He has over 13 years of industry experience building web applications, and has a passion for startups as a serial entrepreneur. Kelly has served on the organizing boards for the Portland Code Camp, Portland Startup Weekend, and the Oregon Game Project Challenge. He also founded and previously ran the Silverlight and Windows Phone user groups in Portland, Oregon.</p>
              <p>Kelly is a Microsoft MVP in Windows Phone Development, and speaks regularly at user groups, code camps, and other developer-related events throughout the Pacific Northwest on Windows Phone and Windows 8 App Development.</p>
            </div>
          </section>
          <section class="4u">
            <div class="box highlight2"> <img src="{% static 'img/bob_portrait.jpg' %}" alt="Photo of Kelly White" class="img-team img-thumbnail" />
              <h3>Robert Gallup<span id=":14h5" tabindex="-1"></span></h3>
              <p><b>XOBXOB</b> <br>
                Founder</p>
              <ul>
                <li>Linked-in: <a href="http://www.linkedin.com/in/robertgallup/">Robert Gallup</a> </li>
              </ul>
              <br />
              <p>See. Think. Make. </p>
              <p>Bob has spent his career doing these at the intersection of people, design, and technology. In the halcyon days of Microsoft, he led a team through the drama of shipping Fury3, Microsoft’s first PC game for Windows 95. Since then, he’s been a leader and designer on an eclectic mix of early stage projects from computer games, to automobile computers, and online education platforms. Bob is currently the founder/CEO at XOBXOB, which is focused on seeing, thinking, and making in the rapidly emerging world where everything is connected.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}