<!DOCTYPE html>
{% load sekizai_tags i18n %}{% load url from future %}
{% load staticfiles %}
<html lang="en">
<head>
<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
<link rel="stylesheet" href="{% static 'html5-boilerplate/css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'html5-boilerplate/css/main.css' %}">
        <script src="{% static 'html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/menu.css" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49506024-1', 'pdxcodeguild.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
<title>PDX Code Guild - {% block title %}A Portland, Oregon area Code School{% endblock %}</title>

</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}pybb/js/jquery.formset.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}pybb/js/pybbjs.js"></script>
<script src="{{ STATIC_URL }}js/sideslide.js"></script> 
{% include "_nav.html" %}
<div id="page-content"> {% block body_block %}
  {% endblock %}
    {% block content %}
    {% endblock %}
  <hr>
  <footer>
    <div class="container">
      <p>© PDX Code Guild 2013</p>
    </div>
  </footer>
</div>
<hr/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'html5-boilerplate/js/plugins.js' %}"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>
</body>
</html>