{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n sekizai_tags %}


{% block body_block %}
<div id="apply_page_banner" class="jumbotron">
  <div class="container">
    <div id="front_page_notice" class="roundbox applybox" style="margin-top: -100px;">
      <h1 class="page-header">{% trans "Contact Us" %}</h1>
      <p> Email Our Director: <a href="mailto:sheri@pdxcodeguild.com">Sheri@PDXCodeGuild.com</a> <br/>
        Twitter: <a href="https://twitter.com/pdxcodeguild"target="_blank">@PDXCodeGuild</a> <br/>
        Facebook: <a href="https://www.facebook.com/PDXCodeGuild"target="_blank">PDX Code Guild</a> <br/>
        Linked-in: <a href="https://www.linkedin.com/company/pdx-code-guild/"target="_blank">PDX Code Guild</a> <br />
        IRC: freenode #pdxcodeguild </p>
      <h3>Visit us at PDX Code Guild</h3>
      <p>2626 SW Corbett Ave<br>
      Portland, OR 97201</p>
      <p><a href="http://pdxcodeguild.com/static/img/pdxmap.png"><img src="{% static 'img/_tn-pdxmap.png' %}" alt=""/></a></p>
    </div>
  </div>
</div>
{% endblock %}