{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<div id="apply_page_banner" class="jumbotron">
  <div class="container">
    <div id="front_page_notice" class="roundbox applybox" style="margin-top: -100px;">
    
    <h1 style="text-align:center"> Junior Developer Bootcamp</h1>
    
      <h2><strong>Ready to jumpstart you career in web development (but not ready to give upyour day gig)?</strong> </h2>
      <p>Then our Python-based Junior Developer Evening Bootcamp is perfect for you. It
is a 16-week, part-time, hands-on course that combines individual projects and 
group study to give you the skills and habits you need to succeed in the growing tech 
industry.</p>
<p>If you’re looking for a full-time course, check out our <a href="/jrdevbootcamp/">Junior Developer Bootcamp. </a></p>

      <h2> <strong>What to Expect at Junior Developer Evening Bootcamp</strong> </h2>
      <p>You will learn core Python, how to think like a programmer, and best practices like source control, testing, and debugging. Through individual assignments and group 
projects, you will build a portfolio of work. You will also meet industry leaders to 
gain understanding of what it’s like to work in the tech industry. And, at the end of 
Bootcamp, we will review your resume and prepare you for interviews, so that you 
will truly be ready to become a developer.</p>
      <p>Bootcamp runs Monday-Friday from 6 pm to 9 pm.</p>
      
      
      <h2> <strong>Tuition</strong> </h2>
      <p>Tuition for the 16-week Python-based Junior Developer Evening Bootcamp is
$3,300. This does not include use of a computer, and you must bring your own 
laptop.</p>
<p>If you choose to pay your full tuition before the first day of class, you save $500, and the cost of program is reduced to $2800.</p>
<p>You can also select a monthly payment program, and save $300, by three monthly
payments of $1000 due at the beginning of each month.</p>
<p>For more
information, please contact <a href="mailto:sheri@pdxcodeguild.com"> Sheri Dover</a>.
      </p>
      
      <h2><strong>Apply</strong> </h2>
      <p>Our next Evening Bootcamp starts Monday, September 7th. To get the conversation started <a href="/contact/">contact us directly</a>, or <a href="/apply/">fill out this form</a>.
      </p>
      <br />
    </div>
  </div>
</div>
{% endblock %}