{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<section class="wrapper style1">
  <div class="container">
    <div id="content">
      <h2 style="text-align:center">Evening Developer Bootcamp</h2>
      <article>
        <h2><strong>By Popular Demand!</strong> </h2>
        <p>You asked for it – we are delivering!  The best of both worlds for people not ready to give up their day jobs. The  Evening Python-based Junior Developer is an intense sixteen-week, part-time,  hands-on immersive course that combines individual projects and group study to  give you the skills and habits you need to succeed in the growing tech  industry. </p>
        <p>This course is great for updating your skills or adding programming to your  skill set so you can future-prof your career and set yourself apart from the  competition. </p>
      </article>
      <article>
        <h2> <strong>What can I expect at the Evening Junior Developer Bootcamp, and how will that help me become a good Junior developer? </strong> </h2>
        <p>You will learn core python, how to think like a programmer, and important developer practices like source control, testing, and debugging. Individual and group work, as well as personal portfolio projects help round you out as a developer. We'll introduce you to industry leaders and help prepare you to get a better job by helping you build your portfolio and helping you with your resume and interviewing skills. </p>
      </article>
      <article>
        <h2> <strong>How much does the Evening Junior Developer Bootcamp cost? Can I make payments? What other fees can I expect?</strong> </h2>
        <p>Tuition for the Evening 16 Week Junior Developer class is class is $3,300. 
          If you pay in full before the first day of class, you save $500, and tuition is only $2800. 
          Save $100 by paying before the end of class in four monthly payments of $800 due at the beginning of each month ($3200 total). 
          You must bring your own laptop. There are no additional fees. </p>
      </article>
      <article>
        <h2><strong>What is the schedule for the next Evening Junior Developer Bootcamp? Is there any flexibility in the schedule?</strong> </h2>
        <p>Evening Bootcamp starts June 23rd. Class hours are: Monday- Friday 5:30 pm - 9:30 pm. If, for some reason, you are unable to make all the scheduled class time, you are expected to make it up during another time or at home. </p>
      </article>
      <article>
        <h2><strong>How do I apply?</strong> </h2>
        <p>To get the conversation started <a href="/contact/">contact us directly</a>, or <a href="/apply/">fill out this form</a>. </p>
      </article>
    </div>
  </div>
</section>
{% endblock %}