{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}

<div id="apply_page_banner" class="jumbotron">
  <div id="front_page_notice" class="roundbox applybox">
    <h2>
      <br/><br/>
      Ready to jumpstart your career in technology?
    </h2>
    <p>Python-based Junior Developer is an intense twelve-week, full time, hands-on immersive course that combines individual projects and group study to give you the skills and habits you need to succeed as a junior developer.    </p>
    <h3>
      What can I expect at Python-based Junior Developer Bootcamp, and
      how will that help me become a good Junior developer?
    </h3>
    <p>You will learn core python, how to think like a programmer, and important developer practices
    like source control, testing, and debugging. Pair programming
    and group work, as well as personal portfolio projects help
    round you out as a developer. We'll introduce you to industry leaders and help prepare you to
    get a job by helping you build your portfolio and helping you with your resume and interviewing skills.</p>
    <h3>
      How much does the Python-based Junior Developer Bootcamp cost? Can I make payments? What other fees can I expect?
    </h3>
    <p>Tuition for the Python Junior Developer class is class is $2800 up front, Alternately, the tuition portion can be broken up into three payments of $1000 due at the beginning of each month ($3000 total).</br>
      All courses require a $150 enrollment fee, refundable when you successfully complete the course.</p>
    <h3>
      What is the schedule for the next Python-based Junior Developer Bootcamp? Is there any flexibility in the schedule?
    </h3>
    <p>The next bootcamp starts January 28th. Class hours will be announced by January 10. The core hours will run about 40 hours/week. It is highly recommended that you make as many of the core hours as possible, but we understand that life happens, so we offer some flexibility. If your schedule doesn't allow for the scheduled core hours, or when things come up, you are welcome to schedule time during different blocks within the week of missed core hours.</p>

    <h3>
      How do I apply?
    </h3>
     <UL>
      <LH>The application process is as follows:</LH>
      <LI>Submit application form. You can find one <a href="https://docs.google.com/forms/d/1rd-P_28zJtEB6iJQv1IwXXdi2GHNkapDYqBcWv65apk/viewform" target="_blank">
      here
    </a>  or pick one up at your interview.
      <LI>Schedule an interview. To
    set an appointment, Contact our director by <a href="mailto:sheri@pdxcodeguild.com">email</a>
or phone (541) 602-6215.
    </UL> 
  <h3>
      What are the prerequisites for the Python-based Junior Developer Bootcamp? What if I don't meet them?
    </h3>
    <p>The prerequisites include experience working with HTML and CSS and some understanding of JavaScript. If you're not sure that your background is solid enough, you may schedule a free interview with an instructor. Many people discover that they are further along than they think they are. </br> If you're a complete beginner, or need some review, we offer individualized instruction that can get you up to speed. A beginner with good computer literacy but no experience with HTML, CSS and JavaScript should be able to catch up in just 4-6 weeks of full-time individualized instruction.</p></br>
   </br>
         
  </div>
</div>
{% endblock %}