<p align="center"><strong>Community</strong></p>
<p align="center">Students of PDX Code Guild are members of a vibrant extended community. The Guild features a large
    open community space that is open for graduates and other members of the PDX Code Guild extended community during
    most operating hours. </p>
<p align="center">Students and graduates are welcome to come in and work on their projects and contribute to the
    community through peer mentoring. </p>
<p align="center">Events are held. Programmer User Groups are hosted.</p>
<p align="center">PDX Code Guild partners with PSU Business Accelerator, Portland Startup Weekend and Technology
    Association of America. </p>