{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

 <script>
function myFunction() {
    var w = window.innerWidth;
    var h = window.innerHeight;
    x = document.getElementById("demo");
    x.innerHTML = "Width: " + w + " Heigth: " + h;
}
</script>
<section id="banner">
  <header>
    <img src="{{ STATIC_URL }}images/guild_logo_orange.png"> <br>
  </header>
</section>
<h2 style="text-align: center; font-size: 1em"> Learn to code. Become a developer. Join the Guild.<br>
Licensed by the Oregon Higher Education Coordinating Commission.</h2>
<section class="wrapper style1">
  <div class="container">
    <div class="row double">
      <section class="4u">
        <div class="box highlight">
          <h4>Evening Junior Developer Bootcamp</h4>
            <em><strong style="color: #f57b20">Starts October 20th</strong></em>
          <p>Apply now to our 16-week, part-time Junior Developer Bootcamp. It combines individual projects, pair programming and group study to give you the skills and habits you need to succeed in the growing tech industry.</p>

          <p>This hands-on programing course covers Python, SQL, and the basics of JavaScript, HTML and CSS.</p>
          <a href="/evening_bootcamp/" class="button">More Info</a>
        </div>
      </section>
      <section class="4u">
        <div class="box highlight">
          <h3>What is PDX Code Guild?</h3>
          <img src="{{ STATIC_URL }}img/classroom5201.png" class="img-team2 img-thumbnail">
          <p><strong style="color: #f57b20">PDX Code Guild</strong> is an immersive training program that gives students the skills and tools to become a developer. Students build their portfolio and receive individualized attention because of our small class sizes.</p>
          <p> PDX Code Guild is creating a network of developers and shaping the future of Oregon’s technology ecosystem.</p>
        </div>
      </section>
      <section class="4u">
        <div class="box highlight">
          <h3>What does PDX Code Guild offer?</h3>
<ul>
            <li>• Python-based Junior Developer Training</li>
            <li>• Get Technical. A Workshop for Non-technical Startup Founders</li>
            <li>• Assisted Freelancing</li>
          </ul>
          If you're considering <span style="color: #f57b20">upgrading your skills</span>, we would love to hear from you. To start the conversation contact us, or take the direct route and apply today.
          </p>
          <a href="/apply/" class="button">I Am Interested</a>
        </div>
      </section>
          </div>
  </div>
</section>

<section class="wrapper style2">
  <div class="container">
    <header class="major">
      <h2>Partners</h2>
      <p>Partner with PDX Code guild, build relationships with junior developers and help shape the future of the Oregon tech ecosystem.</p>
    </header>
  </div>
</section>


<section class="wrapper style1">
  <div class="container">
    <div class="row">
      <section class="6u">
        <div class="box post"> <a href="http://www.donglekong.com/" class="image left"><img src="{{ STATIC_URL }}images/dk.png" alt="" /></a>
          <div class="inner">
            <h3>DongleKong</h3>
            <p>DongleKong adapter kits give you everything you need to connect your MacBook or UltraBook to any projector you may encounter.</p>
          </div>
        </div>
      </section>
      <section class="6u">
        <div class="box post"> <a href="https://www.startupdigest.com/" class="image left"><img src="{{ STATIC_URL }}images/sdp.png" alt="" /></a>
          <div class="inner">
            <h3>StartupDigest</h3>
            <p>The personalized insider newsletter for all things startup in your area.</p>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="6u">
        <div class="box post"> <a href="http://teamtreehouse.com/" class="image left"><img src="{{ STATIC_URL }}images/th.png" alt="" /></a>
          <div class="inner">
            <h3>Treehouse</h3>
            <p>Learn HTML, CSS, iPhone apps & more</p>
          </div>
        </div>
      </section>
      <section class="6u">
        <div class="box post"> <a href="http://portland.startupweekend.org/" class="image left"><img src="{{ STATIC_URL }}images/sw.png" alt="" /></a>
          <div class="inner">
            <h3>Startup Weekend Portland</h3>
            <p>Where Portland comes to build skills, meet incredible people, and launch successful startups.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock %} 