{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div id="front_page_banner" class="jumbotron">
  <div class="container">
    <h1>{ PDX Code Guild }</h1>
    <p>Learn to code. Become a developer. Join the Guild.</p>
  </div>
</div>
<div id="front_page_splash" class="container">
  <div id="front_page_notice" class="jumbotron col-md-6">12-Week Junior Developer Bootcamp<br>
    <i>Starts August 26th!</i>
    <p> Enroll now in this immersive, hands-on computer programming course; learn Python, SQL, and basics of JavaScript, HTML and CSS.  Practice professional developer habits. Build a portfolio, connect with employers, get a better job!<br>
      <a href="/jrdevbootcamp/" class="btn btn-primary btn-lg">More Info</a> </p>
  </div>
  <div class="jumbotron col-md-6" style="background-image: url({% static 'img/classroom5201.jpg' %})"> </div>
</div>
<br />
<div id="front_page_body" class="container">
  <div>
    <div class="col-md-12 centered imadiv">
      <h2>What is PDX Code Guild?</h2>
      <p>PDX Code Guild is an immersive training program that gives students the skills and tools to become a developer. Students build their portfolio and receive  individualized attention because of our small class sizes. PDX Code Guild is creating  a network of developers and shaping the future of Oregon’s technology ecosystem.<br>
        <br>
        PDX Code Guild offers:</p>
      <ul>
        <li>Python-based Junior Developer Training</li>
        <li>Get Technical! A Workshop for Non-technical Startup Founders</li>
        <li>Assisted Freelancing</li>
      </ul>
      <p>If you're considering upgrading your skills, we would love to hear from you! To start the conversation <a href="contact/">contact us</a>, or take the direct route and apply today!</p>
      <p class="text-center"> <a href="/apply/" class="btn btn-primary btn-lg imabutton">Interested!</a> </p>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div id="front_page_partner_well" class="col-md-12 well">
    <h2>Partners</h2>
    <p class="text-center">Are you a local area tech business? Do you need developers?
      Do you want to help make this happen?
      What are you waiting for, <a href="contact/">talk to us</a>!</p>
    <br/>
    <div>
      <p class="text-center"> <a href="http://www.donglekong.com/"target="_blank"> <img style="display: inline; margin: 5px 5px;" class="img-responsive partner-logo" alt="DongleKong Logo" src="{% static 'img/dk.png' %}"/> </a> <a href="https://www.startupdigest.com/digests/portland" target="_blank"> <img style="display: inline; margin: 5px 5px;" class="img-responsive partner-logo" alt="Startup Digest PDX Logo" src="{% static 'img/sdp.png' %}"/> </a> <a href="http://teamtreehouse.com/"target="_blank"> <img style="display: inline; margin: 5px 5px;" class="img-responsive partner-logo" alt="Treehouse Logo" src="{% static 'img/th.png' %}"/> </a> <a href="http://portland.startupweekend.org/"target="_blank"> <img style="display: inline; margin: 5px 5px;" class="img-responsive partner-logo" alt="Startup Weekend Logo" src="{% static 'img/sw.png' %}"/> </a> </p>
      <p class="text-center"> <a class="btn btn-primary btn-lg" href="partner/"> Partner With Us </a> </p>
    </div>
  </div>
</div>
{% endblock %} 