<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to PDX Code Guild</title>

    <style type="text/css">
        body {
            margin: 0;
        }

        body, table, td, p, a, li, blockquote {
            -webkit-text-size-adjust: none !important;
            font-family: Merienda, 'Times New Roman', serif;
            font-style: normal;
            font-weight: 400;
        }

        a:link {
            color: #FFFFFF;
        }

        a:visited {
            color: #FFFFFF;
        }

        a:hover {
            color: #FFFFFF;
        }

        a:active {
            color: #FFFFFF;
        }

        button {
            width: 90%;
        }

        @media screen and (max-width: 600px) {

            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
                font-family: Merienda, 'Times New Roman', serif;
            }

            table {

                width: 100%;
            }

            .footer {

                height: auto !important;
                max-width: 48% !important;
                width: 48% !important;
            }

            table.responsiveImage {

                height: auto !important;
                max-width: 30% !important;
                width: 30% !important;
            }

            table.responsiveContent {

                height: auto !important;
                max-width: 66% !important;
                width: 66% !important;
            }

            .top {

                height: auto !important;
                max-width: 48% !important;
                width: 48% !important;
            }

            .catalog {
                margin-left: 0% !important;
            }

        }

        @media screen and (max-width: 480px) {

            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
                font-family: Merienda, 'Times New Roman', serif;
            }

            table {

                width: 100% !important;
                border-style: none !important;
            }

            .footer {

                height: auto !important;
                max-width: 96% !important;
                width: 96% !important;
            }

            .table.responsiveImage {
                height: auto !important;
                max-width: 96% !important;
                width: 96% !important;
            }

            .table.responsiveContent {
                height: auto !important;
                max-width: 96% !important;
                width: 96% !important;
            }

            .top {
                height: auto !important;
                max-width: 100% !important;
                width: 100% !important;
            }

            .catalog {
                margin-left: 0% !important;
            }

            button {
                width: 90% !important;
            }
        }
    </style>
</head>
<body yahoo="yahoo"
      style="margin: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
<table width="100%" cellspacing="0" cellpadding="0"
       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
    <tbody>
    <tr>
        <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
            <table width="600" align="center" cellpadding="0" cellspacing="0"
                   style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                <tbody>
                <tr></tr>
                <tr>
                    <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                        height="20">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                        height="20">
                        <table align="center" cellpadding="0" cellspacing="0"
                               style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            <tr>
                                <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                    <a href="https://www.pdxcodeguild.com"
                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;color: #FFFFFF;-webkit-text-size-adjust: none!important;">
                                        <img src="https://pdxcodeguild.com/static/images/guild_logo_orange.png"
                                             alt="PDX Code Guild Logo" height="" width="100%" class=""
                                             style="text-allign: center"></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                        height="20">
                        <table width="96%" align="left" cellpadding="0" cellspacing="0"
                               style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            <tr>
                                <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                                    height="20">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                        <table width="96%" align="left" cellpadding="0" cellspacing="0"
                               style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            <tr>
                                <td align="center"
                                    style="font-size: 32px;font-weight: 300;line-height: 2.5em;color: #929292;font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;-webkit-text-size-adjust: none!important;"> Welcome to PDX Code Guild<br>
                                {{ name }}</td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="font-size: 16px;font-weight: 300;color: #929292;font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;-webkit-text-size-adjust: none!important;">
                                    We are so glad you joined!
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                                    height="20">
                                    <table width="96%" align="center" cellpadding="0" cellspacing="0"
                                           style="text-align: center; font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                        <tr>
                                            <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                                                height="20">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="text-align: center; font-size: 14px;font-style: normal;font-weight: 100;color: #929292;line-height: 1.8;padding: 10px 20px 0px 20px;font-family: Merienda, 'Times New Roman', serif, sans-serif;-webkit-text-size-adjust: none!important;">
                                    Thank you for your payment of ${{ payment }}. We look forward to seeing you. <br>
                                    <br>
                                    This two week class will be held Monday, Tuesday and Thursday from 5:30 PM to 8:30
                                    PM.<br>
                                    <br>
                                    If you are as excited as we are to get started here are some resources that can help
                                    jump-start your learning.<br></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                        height="10">
                        <table width="96%" align="left" cellpadding="0" cellspacing="0"
                               style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            <tr>
                                <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                                    height="20">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                        <table cellpadding="0" cellspacing="0" align="center" width="84%"
                               style="margin-left: 12.5%;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                               class="catalog">
                            <tr>
                                <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                    <table class="responsive-table" width="48%" cellspacing="0" cellpadding="0"
                                           align="left"
                                           style="margin: 10px 0px 10px 0px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                <table class="table.responsiveImage" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            style="padding: 10px 3px 10px 3px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <img src="http://learnpythonthehardway.org/img/logo.png"
                                                                 alt="" style="width: 120px;"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table.responsiveContent" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <p style="text-align: center;font-size: 12px;font-style: normal;font-weight: normal;color: #929292;padding: 5px 0px 0px 10px;line-height: 1.5em;font-family: Merienda, 'Times New Roman', serif, sans-serif;-webkit-text-size-adjust: none!important;">
                                                                <strong>Learn Python the Hard Way</strong><br>
                                                                <br>
                                                                One of the most popular resources for learning beginner
                                                                python. </p>
                                                            <a href="http://learnpythonthehardway.org/book/"
                                                               style="text-decoration: none;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;color: #FFFFFF;-webkit-text-size-adjust: none!important;">
                                                            </a>

                                                            <p style="background-color: #14b7ce;text-align: center;padding: 10px 10px 10px 10px;margin: 10px 10px 10px 10px;color: #FFFFFF;font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                                Read More</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="responsive-table" width="48%" cellspacing="0" cellpadding="0"
                                           align="left"
                                           style="margin: 10px 0px 10px 0px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                <table class="table.responsiveImage" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            style="padding: 10px 3px 10px 3px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <img src="https://pdxcodeguild.com/static/images/guild_logo_orange.png"
                                                                 alt="" style="width: 120px;"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table.responsiveContent" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <p style="text-align: center;font-size: 12px;font-style: normal;font-weight: normal;color: #929292;padding: 5px 0px 0px 10px;line-height: 1.5em;font-family: Merienda, 'Times New Roman', serif, sans-serif;-webkit-text-size-adjust: none!important;">
                                                                <strong>Monday Python</strong><br><br>
                                                                PDX Code Guild holds a weekly meetup for anyone
                                                                interested in programming.</p>
                                                            <a href="https://pdxcodeguild.com/ppm/"
                                                               style="text-decoration: none;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;color: #FFFFFF;-webkit-text-size-adjust: none!important;">
                                                            </a>

                                                            <p style="background-color: #14b7ce;text-align: center;padding: 10px 10px 10px 10px;margin: 10px 10px 10px 10px;color: #FFFFFF;font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                                Read More</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                    <table class="responsive-table" width="48%" cellspacing="0" cellpadding="0"
                                           align="left"
                                           style="margin: 10px 0px 10px 0px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                <table class="table.responsiveImage" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            style="padding: 10px 3px 10px 3px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <img src="https://wiki.python.org/wiki/europython/img/python-logo.gif"
                                                                 alt="" style="width: 120px;"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table.responsiveContent" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <p style="text-align: center;font-size: 12px;font-style: normal;font-weight: normal;color: #929292;padding: 5px 0px 0px 10px;line-height: 1.5em;font-family: Merienda, 'Times New Roman', serif, sans-serif;-webkit-text-size-adjust: none!important;">
                                                                <strong>The Python Wikki</strong><br><br>
                                                                A great resource for new or old programmers. </p>
                                                            <a href="https://wiki.python.org/moin/BeginnersGuide"
                                                               style="text-decoration: none;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;color: #FFFFFF;-webkit-text-size-adjust: none!important;">
                                                            </a>

                                                            <p style="background-color: #14b7ce;text-align: center;padding: 10px 10px 10px 10px;margin: 10px 10px 10px 10px;color: #FFFFFF;font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                                Read More</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="responsive-table" width="48%" cellspacing="0" cellpadding="0"
                                           align="left"
                                           style="margin: 10px 0px 10px 0px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                        <tbody>
                                        <tr>
                                            <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                <table class="table.responsiveImage" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            style="padding: 10px 3px 10px 3px;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <img src="https://pdxcodeguild.com/static/images/codecademy.png"
                                                                 alt="sample" style="width: 120px;"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <table class="table.responsiveContent" width="66%" cellspacing="0"
                                                       cellpadding="0" align="left"
                                                       style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                            <p style="text-align: center;font-size: 12px;font-style: normal;font-weight: normal;color: #929292;padding: 5px 0px 0px 10px;line-height: 1.5em;font-family: Merienda, 'Times New Roman', serif, sans-serif;-webkit-text-size-adjust: none!important;">
                                                                <strong>Codecademy</strong><br>
                                                                <br>
                                                                This is another great resource for people new to python.<br>
                                                                <br>
                                                            </p>
                                                            <a href="http://www.codecademy.com/tracks/python"
                                                               style="text-decoration: none;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;color: #FFFFFF;-webkit-text-size-adjust: none!important;">
                                                            </a>

                                                            <p style="background-color: #14b7ce;text-align: center;padding: 10px 10px 10px 10px;margin: 10px 10px 10px 10px;color: #FFFFFF;font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                                                Read More</p>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                        height="20">
                        <table width="96%" align="left" cellpadding="0" cellspacing="0"
                               style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            <tr>
                                <td style="font-size: 0;line-height: 0;font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;"
                                    height="20">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr bgcolor="#4ba1ba">
                    <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                        <table class="footer" width="48%" align="left" cellpadding="0" cellspacing="0"
                               style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            <tr>
                                <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                    <p align="center"
                                       style="font-size: 22px;font-weight: 300;line-height: 2.5em;color: #000000;font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;-webkit-text-size-adjust: none!important;">
                                        PDX Code Guild</p></td>
                            </tr>
                        </table>
                        <table class="footer" width="48%" align="left" cellpadding="0" cellspacing="0"
                               style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                            <tr>
                                <td style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                    <p style="font-size: 14px;font-style: normal;font-weight: normal;color: #ffffff;line-height: 1.8;text-align: justify;padding-top: 10px;margin-left: 20px;margin-right: 20px;font-family: Merienda, 'Times New Roman', serif, sans-serif;-webkit-text-size-adjust: none!important;">
                                        <span style="color: #f57b20">PDX Code Guild Bootcamps</span> are immersive
                                        hands-on developer training programs. Students build their portfolio and receive
                                        individualized attention. Small class sizes and intensive instruction ensure
                                        students get the maximum results in the shortest amount of time.</p>

                                    <p align="right"
                                       style="font-family: Merienda, 'Times New Roman', serif, sans-serif;font-style: normal;font-weight: 400;-webkit-text-size-adjust: none!important;">
                                        <a href="https://pdxcodeguild.com/devbootcamp/"
                                           style="font-family: Merienda, 'Times New Roman', serif;font-style: normal;font-weight: 400;color: #FFFFFF;-webkit-text-size-adjust: none!important;">More
                                            Info</a></p></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>