{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <section class="wrapper style1">
        <div class="container">
            <div id="content">

                <header>
                    <h2 style="text-align:center">Developer Bootcamp</h2>
                </header>
                <article>
                    <h2>Ready to jumpstart your career in technology?</h2>

                    <p>Python-based Developer Bootcamp is an intense twelve-week, full time, hands-on immersive course
                        that combines individual projects and group study to give you the skills and habits you need to
                        succeed in the growing tech industry.</p>
                </article>
                <article>
                    <header>
                        <h2>What can I expect at Python-based Developer Bootcamp, and how will that help me
                            become a good developer?</h2></header>
                    <p>You will learn core python, how to think like a programmer, and important developer practices
                        like source control, testing, and debugging. Pair programming and group work, as well as
                        personal portfolio projects help round you out as a developer. We'll introduce you to industry
                        leaders and help prepare you to get a better job by helping you build your portfolio and helping
                        you with your resume and interviewing skills. </p>
                </article>
                <article>
                    <header>
                        <h2>How much does the Python-based Developer Bootcamp cost? Can I make payments? What
                            other fees can I expect?</h2></header>
                    <p>Tuition for the 12 Week Python-Based Developer class is class is $3,300. <br>
                        If you pay in full before the first day of class, you save $500, and tuition is only $2800. <br>
                        Save $300 by paying before the end of class in three monthly payments of $1000 due at the
                        beginning of each month ($3000 total). <br>
                        You must bring your own laptop. <br/>
                        There are no additional fees.</p>
                </article>
                <article>
                    <header>
                        <h2>Looking for an evening class?</h2></header>
                    <p>We have one starting June 23rd click here for more info: <a href="{% url 'evening_bootcamp' %}">Evening Jr
                        Developer Bootcamp</a></p>
                </article>
                <article>
                    <header>
                        <h2>How do I apply?</h2></header>
                    <p>To get the conversation started <a href="/contact/">contact us directly</a>, or <a
                            href="/apply/">fill out this form</a>.</p>
                </article>
            </div>
        </div>
    </section>
{% endblock %}