{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<div id="apply_page_banner" class="jumbotron">
  <div class="container">
    <div id="front_page_notice" class="roundbox applybox" style="margin-top: -100px;">
      <h2> <br/>
        <br/>
        <strong>Ready to jumpstart your career in technology?</strong> </h2>
      <p>Python-based Junior Developer is an intense  twelve-week, full time, hands-on immersive course that combines individual  projects and group study to give you the skills and habits you need to succeed in  the growing tech industry.</p>
      <h2> <strong>What can I expect at Python-based Junior Developer Bootcamp, and
        how will that help me become a good Junior developer?</strong> </h2>
      <p>You will learn core python, how to think like a programmer, and important developer practices like source control, testing, and debugging. Pair programming and group work, as well as personal portfolio projects help round you out as a developer. We'll introduce you to industry leaders and help prepare you to get a better job by helping you build your portfolio and helping you with your resume and interviewing skills.
      </p>
      <h2> <strong>How much does the Python-based Junior Developer Bootcamp cost? Can I make payments? What other fees can I expect?</strong> </h2>
      <p>Tuition for the 12 Week Python-Based Junior Developer class is class is $3,300. 

        <br>
        If you pay in full before the first day of class, you save $500, and tuition is only $2800. 

        <br>
        Save $300 by paying before the end of class in three monthly payments of $1000 due at the beginning of each month ($3000 total). 

        <br>
        You must bring your own laptop. 

There are no additional fees. </br>
      </p>
      <h2><strong>Looking for an evening class? </strong> </h2>
      We have one starting June 23rd  click here for more info: <a href="/evening_bootcamp/">Evening Jr Developer Bootcamp</a>
      <h2><strong>How do I apply?</strong></h2>
      To get the conversation started <a href="/contact/">contact us directly</a>, or <a href="/apply/">fill out this form</a>.
      </p>
      <br>
      <br>
<br />
    </div>
  </div>
</div>
{% endblock %}