{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<div id="apply_page_banner" class="jumbotron">
  <div class="container">
    <div id="front_page_notice" class="roundbox applybox" style="margin-top: -100px;">
      <h1 style="text-align:center"> Junior Developer Bootcamp</h1>
        <h2><strong>Ready to jumpstart your career in web development?</strong> </h2>
      <p>Our Python-based Junior Developer Bootcamp is an intense 12-week, full-time,
hands-on course. It combines individual projects and group study to give you the 
skills and habits you need to succeed in the growing tech industry.</p>
<p>If a full-time course doesn’t work with your schedule, check out our <a href="/evening_bootcamp/"> Evening Junior 
Developer Bootcamp.</a></p>
      <h2> <strong>What You Can Expect at Bootcamp</strong> </h2>
      <p>You will learn core Python, how to think like a programmer, and best practices like source control, testing, and debugging. Through individual assignments and group 
projects, you will build a portfolio of work. You will also meet industry leaders to 
gain understanding of what it’s like to work in the tech industry. And, at the end of 
Bootcamp, we will review your resume and prepare you for interviews, so that you 
will truly be ready to become a developer.
      </p>
      <p>Bootcamp runs Monday-Friday from 9:30am to 3:30pm.</p>
      <h2> <strong>Tuition</strong> </h2>
      <p>Tuition for the 12-week Python-based Junior Developer class is $3,300. This does
not include use of a computer, and you must bring your own laptop.
      </p>
      <p>If you choose to pay your full tuition before the first day of class, you save $500, and the cost of program is reduced to $2800.
      </p>
      <p>You can also select a monthly payment program, and save $300, by three monthly
payments of $1000 due at the beginning of each month.
      </p>
      <p>For more
information, please contact <a href="mailto:sheri@pdxcodeguild.com"> Sheri Dover</a>.
      </p>
      <h2><strong>Apply</strong> </h2>
     <p>Our next Bootcamp starts Monday, August 25th. To get the conversation started <a href="/contact/">contact us directly</a>, or <a href="/apply/">fill out this form</a>.</p>
      </p>
      <br>
      <br>
<br />
    </div>
  </div>
</div>
{% endblock %}