{% extends 'base.html' %}
{% load i18n sekizai_tags %}
{% load url from future %}
{% trans "Log in" %}


<h1 class="page-header">{% trans "Please log in" %}</h1>
<form method="POST" class="form-horizontal">

<div class="form-group form-actions">
  <div class="col-lg-2"></div>
  <div class="col-lg-10">
    <button type="submit" name="save_changes" class="btn btn-primary btn-large">
      <span class="icon-lock"></span>
      {% trans "Log me in..." %}
    </button>
  </div>
</div>
</form>

<p>
  {% trans "Don't have an account?" %} <a href="{% url 'wiki:signup' %}">{% trans "Sign up" %} &raquo;</a>
</p>

{% addtoblock "js" %}
<script type="text/javascript">
  $('#id_username').focus();
</script>
{% endaddtoblock %}	


