{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}
<div id="apply_page_banner" class="jumbotron">
  <div id="front_page_notice" class="roundbox applybox">
    <h2>
      <br/><br/>
     <h3>
    <strong>Customized, personal instruction</strong> </h3>
        <p>We want to help you find the instruction that's right for you. We'll work with you one-on-one to make a plan that gets you the skills and job you want.</p>

        <h3>
        <strong>A flexible learning schedule </strong></h3>
        <p>We offer three hour blocks on schedules that work for you,
        whether you are working a job, have kids, or other needs.
        See our block schedule below.</p>

        <h3>
        <strong>Expert engineers supporting your learning </strong></h3>
        <p>Our staff has decades of combined programming experience,
        and we'll be on hand to help and answer questions.</p>
        <h3>
        <strong>Supported Freelancing</strong> </h3>
        <p>Ever have to turn down a project because you were missing just one key skill?
        Ever want to expand your freelancing toolkit?</p>
        <p>PDX Code Guild offers supported freelancing, to give you the skills you need in the
        context of the project you want to accept. We can support and train you in many
        skills, talk to us about your particular needs.</p>
        <p>We'll help you with your project and provide you customized learning to not only
        deliver quality results to your client, but help you acquire the skill for the next
        project.</p>



    <h3>
    <strong>How do I apply? </strong></h3>
     <UL>
      <LH>The application process is as follows:</LH>
      <LI>Submit application form. You can find one <a href="https://docs.google.com/forms/d/1rd-P_28zJtEB6iJQv1IwXXdi2GHNkapDYqBcWv65apk/viewform" target="_blank">
      here
    </a>  or pick one up at your interview.
      <LI>Schedule an interview. To
    set an appointment, Contact our director by <a href="mailto:sheri@pdxcodeguild.com">email</a>
or phone (541) 602-6215.
    </UL>
         <h2><strong>Individualized Instruction Pricing</strong></h2>
    <table class="table">
        <tr>
          <th></th>
          <th><strong>Monthly</strong></th>
          <th><strong>Blocks/wk</strong></th>
          <th><strong>Hours/month</strong></th>
        </tr>
        <tr>
          <th scope="row"><strong>Full Time</strong></th>
          <td>$950</td>
          <td>12</td>
          <td>up to 164</td>
        </tr>
        <tr>
          <th scope="row"><strong>Part time</strong></th><!-- "Making it work" -->
          <td>$875</td>
          <td>6</td>
          <td>up to 80</td>
        </tr>
        <tr>
          <th scope="row"><strong>Dabbling</strong></th>
          <td>$700</td>
          <td>3</td>
          <td>up to 48</td>
        </tr>
    </table>
      <br>
      <table align="center" class="table" style="width: 400px">
        <tr>
          <th></th>
          <!-- no corner -->
          <th><strong>M</strong></th>
          <th><strong>T</strong></th>
          <th><strong>W</strong></th>
          <th><strong>Th</strong></th>
          <th><strong>F</strong></th>
          <th><strong>S</strong></th>
          <th><strong>Su</strong></th>
        </tr>
        <tr>
          <th scope="row"><strong>9 AM-Noon</strong></th>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td rowspan="3"><div style="width: 15px; height: 35px; background: green"></div>
            <hr/>
            <div style="width: 15px; height: 35px; background: green"></div></td>
          <td></td>
          <!-- nothing on Sunday -->
        </tr>
        <tr>
          <th scope="row"><strong>1 PM-5 PM</strong></th>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td></td>
          <!-- nothing on Sunday -->
        </tr>
        <tr>
          <th scope="row"><strong>6 PM-9 PM</strong></th>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td><div style="width: 15px; height: 25px; background: green"></div></td>
          <td></td>
          <!-- nothing on Sunday -->
        </tr>
        <tr>
          <td colspan="8"><ul>
            <li>Saturday hours: 10 AM - 1 PM, 5 PM - 8 PM</li>
            <li>Gaps are included for self paced work</li>
          </ul></td>
        </tr>
      </table>
  </div>
</div>
{% endblock %}