{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <div id="apply_page_banner" class="jumbotron">
        <div class="container">
            <div id="front_page_notice" class="roundbox applybox" style="margin-top: -100px;">
                <h2>
                    <br/><br/>
                    Python Review Quiz
                </h2>

                <p>1. Print “Hello World”<br>
                    2. Create a list called fruit that has Apples, Oranges and Bananas as values.<br>
                    3. Print the list.<br>
                    4. Change Oranges to Grapes using the numeric list index.<br>
                    5. Create a loop that prints out each item in the fruit list.<br>
                    6. Create a dictionary called people that has another dictionary for each Bob (age 22), Carol (age
                    47) and Justin (age 14) with their name and age. <br>
                    7. Create a function that takes two numbers (a and b) and prints the total value when they are
                    added.<br>
                    8. Call your function with 5 and 5, 10 and 15 and 3 and 6.</p>


            </div>
        </div>
    </div>
{% endblock %}