{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}

    <div class="jumbotron">
      <div class="container">
        <h1>Sponsorships</h1>
        <p>Partner with PDX Code guild, build relationships with junior developers and help shape the future of the Oregon tech ecosystem.</p>
        <p>
          <a href="mailto:Sheri@PDXCodeGuild.com?subject=Sponsoring PDX Code Guild&body=I'd like to sponsor PDX Code guild." class="btn btn-primary btn-lg">Sponsor &raquo;</a>
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Premier - $10,000</h2>
          <p>Limited to three quarterly, Premier Sponsors get the most access to students and get primary input on curriculum. In addition to involvement with the community on a regular basis and input on curriculum for three months, Premier Sponsors get to place their banner and job postings in the learning center, get their logo posted prominently on the website with a link to their page, get thanked publicly on Twitter and Facebook, get to pass out materials in new student packets and at events, and receive invites to monthly sponsor events.</p>
          <p>
            <a href="mailto:Sheri@PDXCodeGuild.com?subject=Sponsoring PDX Code Guild&body=I'd like to sponsor PDX Code guild. I'm considering the $10,000 quarterly Permier level." class="btn btn-primary">Sponsor &raquo;</a>
          </p>
        </div>

        <div class="col-md-4">
          <h2>Champion - $5,000</h2>
          <p>Limited to four quarterly, Champion Sponsors also get access to students and input on curriculum. In addition to involvement with the community on a regular basis for three months, Champion Sponsors get to place their banner and job postings in the learning center, get their logo posted prominently on the website with a link to your page, get thanked publicly on Twitter and Facebook, get to pass out materials in new student packets and at events, and receive invites to monthly sponsor events.</p>
          <p>
            <a href="mailto:Sheri@PDXCodeGuild.com?subject=Sponsoring PDX Code Guild&body=I'd like to sponsor PDX Code guild. I'm considering the $5,000 quarterly Champion level." class="btn btn-primary">Sponsor &raquo;</a>
          </p>
        </div>

        <div class="col-md-4">
          <h2>Hero - $3,000</h2>
          <p>The scholarship sponsorship, Hero Sponsors get to specify the criteria of Scholarship, choose the scholar from a qualified list of students and applicants, and regular mentorship time with scholar. In addition to the above, Hero Sponsors get to place job postings in the learning center, get their logo posted on the website with a link to your page, get thanked publicly on Twitter and Facebook, get to pass out materials in new student packets, and receive invites to monthly sponsor events.</p>
          <p>
            <a href="mailto:Sheri@PDXCodeGuild.com?subject=Sponsoring PDX Code Guild&body=I'd like to sponsor PDX Code guild. I'm considering the $3,000 quarterly Hero scholarship level." class="btn btn-primary">Sponsor &raquo;</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Advocate - $2,000</h2>
          <p>Limited number available, Advocate Level Sponsors get placement of job postings in the learning center, get their logo posted on the website with a link to their page, get thanked publicly on Twitter and Facebook, get to pass out materials in new student packets, and receive invites to monthly sponsor events.</p>
          <p>
            <a href="mailto:Sheri@PDXCodeGuild.com?subject=Sponsoring PDX Code Guild&body=I'd like to sponsor PDX Code guild. I'm considering the $2,000 quarterly Advocate level." class="btn btn-primary">Sponsor &raquo;</a>
          </p>
        </div>
         
        <div class="col-md-4">
          <h2>Supporter - $1,000</h2>
          <p>Supporter Sponsors get access to students, logo placement on PDX Code Guild website, job postings listed in learning center, social media thank yous, invites to monthly sponsor events.</p>
          <p>
            <a href="mailto:Sheri@PDXCodeGuild.com?subject=Sponsoring PDX Code Guild&body=I'd like to sponsor PDX Code guild. I'm considering the $1,000 quarterly Supporter level." class="btn btn-primary">Sponsor &raquo;</a>
          </p>
        </div>

        <div class="col-md-4">
          <h2>Friend - $500</h2>
          <p>Friend Sponsors get logo placement on PDX Code Guild website, job postings listed in learning center, social media thank yous, invites to sponsor events quarterly.</p>
          <p>
            <a href="mailto:Sheri@PDXCodeGuild.com?subject=Sponsoring PDX Code Guild&body=I'd like to sponsor PDX Code guild. I'm considering the $500 quarterly Friend level." class="btn btn-primary">Sponsor &raquo;</a>
          </p>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}
