{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}

    <section class="wrapper style1">
        <div class="container">
            <div id="content">
                <h2 style="text-align:center">Student Bios and Projects</h2>
               <!-- Need Image of Matt

               <article>
                    <h2><strong>Matt Drake</strong></h2><br>
                    <a href="mailto:mattsdrake@gmail.com">Email</a>
                    <a href="https://github.com/mattdrake">GitHib</a>

                    <img src="{{ STATIC_URL }}images/.jpg" style="float:left; padding-right: 5px;">

                    <p><b>Student Bio:</b><br>
                        I'm an aspiring developer that has moved across the country from Georgia to take part in this
                        class. I have always had an interest in all things electronic, but recently realized that my
                        passion was with developing. I spent 13 years as an IT professional.</p>

                    <p><b>Student Goals:</b><br>
                        My goal is to find a great company in the Portland area to develop for. My wife and I have
                        always wanted to live on the west coast, preferably here in Portland. Now we have a baby
                        daughter that we definitely want to raise here.</p>
                </article> -->

                <article>
                    <h2><strong>Ryan Perkins</strong></h2>
                    <p><img src="{{ STATIC_URL }}images/ryan.jpg" style="float:left; padding-right: 5px;">

                    <b>Student Bio:</b><br>
                        I left Portland at the age of 18 seeking knowledge. This took me to Chicago, Philadelphia,
                        India, Pakistan, Toronto and Oxford before Portland called me back. In the course of my journeys
                        I picked up a Ph.D. and was a postdoctoral fellow at The University of Chicago and the
                        University of Oxford. I am passionate about education, technology and innovation. </p>

                    <p><b>Student Goals:</b><br>
                        A few years ago I had an idea for a startup. The idea was to use the transportation resources we
                        have to get cars off the roads, build community and transform the ways in which we view
                        transport. Practically this meant creating an app that would connect drivers with riders in real
                        time who were heading in the same direction or starting from similar points. Because I was soon
                        to move out of Chicago to England I wasn't in a position to pursue my idea until moving back to
                        Portland in the summer of 2014. I quickly realized that if I wanted to make my dream a reality I
                        would need to learn to code. I found PDX Code Guild and enrolled in the Python developer course.
                        My goal is to learn enough to recruit the right team and create a prototype for my new business,
                        PoolRyde.
                        <br>
                    Ryan Perkins <a href="mailto:c.ryanperkins@gmail.com">Email</a><br>
                    Ryan Perkins <a href="https://github.com/cryanperkins/PublicCode">GitHib</a></p>
                </article>

                <article>
                    <h2><strong>Monique Tucker</strong></h2>

                    <p><img src="{{ STATIC_URL }}images/monique.jpg" style="float:left; padding-right: 5px;">

                    <b>Student Bio:</b><br>
                        I'm a California native who recently relocated to Portland from the East Coast. I love barre3,
                        Zumba, and great Portland food! For the past few years I worked at Capital One where I was a
                        Business Manager, strategizing the digital agenda and analyzing legal risk of the balance
                        transfer credit card business. I have an MBA from MIT Sloan and a BA from Brown University and
                        am currently interested in developer opportunities.</p>

                    <p><b>Student Goals:</b><br>
                        To make a career change to become a developer!
                    <br>
                    Monique Tucker <a href="moniquetucker@gmail.com">Email</a><br>
                    Monique Tucker <a href="http://github.com/moniquemtucker">GitHib</a></p>
                </article>

                <article>
                    <h2><strong>Matthew Fountain</strong></h2>

                    <p><img src="{{ STATIC_URL }}images/matthew.jpg" style="float:left; padding-right: 5px;">

                    <b>Student Bio:</b><br>
                        I hope to gain an understanding of the precepts of programming, full stack-- front end, server
                        side, and database-- through hands-on creation. I also want to finish the first stages of a
                        larger project: an interactive web application that will serve as a one-stop resource for
                        homeless people in Portland.</p>

                    <p><b>Student Goals:</b><br>
                        To make a career change to become a developer!
                    <br>
                    Matthew Fountain <a href="mailto:matthewdfountain@gmail.com">Email</a><br>
                    Matthew Fountain <a href="https://github.com/MatthewFountain/barricades">GitHib</a></p>
                </article>

                <article>
                    <h2><strong>Kristin Bratland</strong></h2>

                    <p><img src="{{ STATIC_URL }}images/kristin.jpg" style="float:left; padding-right: 5px;">

                    <b>Student Bio:</b><br>
                        I am an aspiring full stack unicorn, learning code because it suits my love for
                        interdisciplinary, synergistic, ecosystem thinking. I thrive in a collaborative environment
                        where solving problems is a team effort and solutions for customers are crafted in a simple,
                        elegant and integrative manner. My polymath experience crosses high-level project management,
                        program design, and process re-design with an uncanny ability to use diverse skills for
                        strategic problem solving, process innovation, and completing projects on time and within
                        budget. Work is a team effort and I strive to foster partnerships, use diplomacy in conflict
                        resolution, and providing exceptional customer support using outstanding professionalism and
                        reliability. Consistently excelling in big-picture ecosystem approach allows me to effectively
                        improve organizations, processe s and procedures, while fostering success for my community team,
                        stakeholders, and the organization.</p>

                    <p><b>Student Goals:</b><br>
                        I am working to acquire an strong grasp of the inter-relationships and languages of full stack
                        programming to combine it with my love of product design, development, and management.
                        Technology will make life easier for people and is a powerful tool for disseminating knowledge
                        to a greater community. Providing a more equitable and even playing field for all people creates
                        justice and a better life for all of us and technology is a powerful and robust mechanism to do
                        so. In the future I hope to take what I learn at PDX code guild to help people be successful and
                        perhaps in a small way bring more equity to all of us.
                        <br>
                    Kristin Bratland <a href="mailto:kristin.bratland@gmail.com">Email</a><br>
                    Kristin Bratland <a href="https://github.com/KBratland/Bootcamp">GitHib</a></p>
                </article>

                <article>
                    <h2><strong>Jake Baker</strong></h2>

                    <p><img src="{{ STATIC_URL }}images/jake.jpg" style="float:left; padding-right: 5px;">

                    <b>Student Bio:</b><br>
                        I have been a service industry worker for the last twenty years. A bartender, server and cab
                        driver.</p>

                    <p><b>Student Goals:</b><br>
                        My goal is to develop a whole new skill set in order to find a career in the tech industry.
                        <br>
                        <br>
                        <br>
                    Jake Baker <a href="mailto:jacobebaker1973@gmail.com">Email</a><br>
                    Jake Baker <a href="http://github.com/JB11235">GitHib</a></p>
                    <br>
                </article>

            </div>
        </div>
    </section>
{% endblock %}