{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}

<br/><br/>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="float:left"> <img src="{% static 'img/sheri.jpg' %}" alt="Photo of Sheri Dover" class="img-team img-thumbnail"/>
        <h3>Sheri Dover</h3>
        <p>Director</p>
        <ul>
          <li>Email:<a href="mailto:sheri@pdxcodeguild.com"> Sheri Dover (sheri@pdxcodeguild.com)</a></li>
        </ul>
        <p>A long-time entrepreneur, Sheri works to empower others and strengthen the Oregon economy. Businesses founded by Sheri include a public market that served as a low-barrier incubator and a coworking space that supported small businesses. Sheri's extensive volunteer work includes 3 years as an Organizer for Portland Startup Weekend and a volunteer for TiE Oregon.</p>
      </div>
      <div class="col-md-4" style="float:left"> <img src="{% static 'img/Freeman_web1.jpg' %}" alt="Photo of Chris Freeman" class="img-team img-thumbnail"/>
        <h3>Chris Freeman</h3>
        <p>Teacher</p>
        <ul>
          <li>Email:<a href="mailto:chrisf@pdxcodeguild.com"> Chris Freeman (chrisf@pdxcodeguild.com)</a></li>
        </ul>
        <p>Chris Freeman brings over 20 years experience in engineering. His interests include FPGA and ASOC component design and validation, and website development technologies. He has worked on projects for Portland Startup Weekend, Open Source Bridge and Zimfest, and Cycle Oregon.</p>
      </div>
      <div class="col-md-4" style="float:left"> <img src="{% static 'img/kevinelong.jpg' %}" alt="Photo of Kevin Long" class="img-team img-thumbnail"/>
        <h3>Kevin Long</h3>
        <p>Teacher</p>
        <ul>
          <li>Email:<a href="mailto:kevin@pdxcodeguild.com"> Kevin Long (
kevin@pdxcodeguild.com)</a></li>
        </ul>
        <p>Kevin Ernest Long is a Pacific NW Technology Pioneer. As an early advocate for the software industry in Oregon, he launched the mid-Oregon branch of the Software Association of Oregon in the early nineties while operating a computer store and training center in Eugene. Later he went on to design products and platforms for Concur, WeSync, Palm, Concur, UltimateBet, Iovation, Dinerware, DataMotion and Janrain, where he applied his experience with design, internet technologies, touch-screens, mobile-devices, banking, security and gaming technology gained from a decade of teaching and contracting at companies like, Symantec, Intel, and Nike. His work has been featured in publications such as PC Game Programming Explorer and Hash Animation Master Pro Series Video Training. He is currently working as Technical Director at CMD Agency in Portland.</p>
      </div>
    </div>
  </div>
</div>
<hr>


{% endblock %}