{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n sekizai_tags %}

{% block body_block %}
 <META http-equiv="refresh" content="5;URL=/">
<div id="apply_page_banner" class="jumbotron">
<div class="container">
<div id="front_page_notice" class="roundbox applybox" style="margin-top: -100px;">
  <p><h1>Thanks for contacting us!</h1></p>
<div style="border: 0; height: 1px; background: #fff; background-image: -webkit-linear-gradient(left, #fff, #fff, #fff); background-image: -moz-linear-gradient(left, #fff, #fff, #fff); background-image:     -ms-linear-gradient(left, #fff, #fff, #fff); background-image: -o-linear-gradient(left, #fff, #fff, #fff);"></div>
  Someone will respond to you soon.
<form method="POST" class="form-horizontal">
 {% endblock %}


