<p align="center"><strong>Individualized Instruction</strong></p>
<p align="center"> You are a unique member of the PDX Code Guild Community, with a unique background and unique
    interests. PDX Code Guild class sizes are small so you can get the individualized instruction you deserve. </p>
<p align="center">Want to go deeper into JavaScript or Databases? Have an idea for a project or you&rsquo;ve wanted to
    work on? Need more of a challenge? PDX Code Guild bootcamps are designed for individualization. </p>