{% extends 'base.html' %}
{% load staticfiles %}


{% block body_block %}

<div id="apply_page_banner" class="jumbotron">
  <div class="col-md-4 desktop-only"></div>
  <div class="col-md-1"></div>
  <div id="front_page_notice" class="roundbox applybox">
    <h2>
      <br/><br/>
      Get Technical!
    </h2>
    <h3>
      A Workshop for Non-technical Startup Founders
    </h3>
        <p>Get Technical will help move your tech startup forward by giving you basic tech skills that every tech founder should have. You will learn basic web programming, basic version control, Git project management and developer management.</p>
      <p>We expect this class to fill up fast. To get on our list to be notified as soon as details emerge, send us an <a href="mailto:sheri@pdxcodeguild.com?subject=Please send me more info about the Get Technical! Bootcamp">email</a> and we'll add you to the list.</p>
    </br></br>
    

  
  </div>
</div>

{% endblock %}