{% extends "base.html" %}
{% load custom_markdown %}
{% load threadedcomments_tags %}
{% load markitup_tags %}
{% block content %}

<section class="wrapper style1">
  <div class="container">
    <div id="content">
    <h2 style="text-align: center">PDX Code Guild Blog</h2>
    
      <div class="row double">
        <div class="9u">{% for post in object_list %}
          <div class="post"> {{ post.content|render_markup }}
            <h1><a href="/blog{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <h3>{{ post.pub_date }}</h3>
            {{ post.text|custom_markdown }}
            {% get_comment_count for post as comment_count %}
            Comments: {{ comment_count }} </div>
          {% if post.category %}
          Category:<a href="/blog{{ post.category.get_absolute_url }}">{{ post.category.name }}</a> {% else %}
          Post has no category.
          {% endif %} <br>
          {% if post.tags %}
          {% for tag in post.tags.all %}
          Tags:<a href="/blog{{ tag.get_absolute_url }}">{{ tag.name }}</a> {% endfor %}
          {% else %}
          Post has no tags.
          {% endif %}
          <p></p>
          <div style="border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));"></div>
          {% endfor %} </div>
        <div class="3u">
          <h3>Categories</h3>
        {% if categories %}
          {% for category in categories %} <a href="/blog{{ category.get_absolute_url }}">{{ category.name }}</a><br>
          {% endfor %}
        {% else %}
        There are no Categories yet.
        {% endif %}
        <h3>Tags</h3>
        {% if tags %}
          {% for tag in tags %} <a href="/blog{{ tag.get_absolute_url }}">{{ tag.name }}</a> <br>{% endfor %}
      {% else %}
      There are no Tags yet.
      {% endif %}
      <h3>Posts</h3>
      {% if object_list %}
      {% for post in object_list %}
      <a href="/blog{{ post.get_absolute_url }}">{{ post.title }}</a><br>
      {% endfor %}
      {% else %}
      There are no posts yet.
      {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="3u"> {% if page_obj.has_previous %} <a href="/blog/{{ page_obj.previous_page_number }}/">Previous Page</a> {% endif %} </div>
        <div class="3u">{% if user.is_staff %}<a href="/blog/blog_admin/">PDX Code Guild Blog Admin</a>{% endif %}</div>
          <div class="3u" style="text-align: right"> {% if page_obj.has_next %} <a href="/blog/{{ page_obj.next_page_number }}/">Next Page</a> {% endif %} </div>
        <div class="3u"> </div>
      </div>
    </div>
      </div>
  
  </div>
</section>
{% endblock %} 