{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <section id="banner">
        <header>


            <img src="{{ STATIC_URL }}img/placeholder.jpg" class="img-logo">
        </header>
    </section>
    <h2 style="text-align: center; font-size: 1em; background-color: #4ba1ba; color: #ffffff; padding: 20px">
        Specialising in bringing new ideas to life and new life into established businesses. We work closely with you to
        see your ideas come to life, on the web, on your phone, anywhere the digital world touches.</h2>
    <section class="wrapper style1">
        <div class="container">
            <div class="row double">
                <section class="4u">
                    <div class="box highlight">
                        <h3>Stuff Goes Here</h3>
                    </div>
                </section>
                <section class="4u">
                    <div class="box highlight">
                        <h3>Stuff Goes Here?</h3>
                    </div>
                </section>
                <section class="4u">
                    <div class="box highlight">
                        <h3>Stuff Goes Here</h3>

                    </div>
                </section>
            </div>
        </div>

    </section>

{% endblock %} 