/*
	Arcana by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
		line-height: 1.5em;
	}

.img-logo {
    left: 10%;
    top: 84%;
    z-index: 2;
    width: 10%;
}