{% load pybb_tags i18n %}
<section class="wrapper style1">
  <div class="container">
    <div id="content">
{% if forum_list %}
    <table border="0" cellpadding="0" cellspacing="0" class="table {% if category %}category-table{% elif parent_forum %}child-forums-table{% endif %}">
        <thead>
            <tr class="forum-row head-row">
                <th width="60%" class="forum-name">
                    {% trans "Forum" %}
                </th>
                <th width="10%" class="forum-topic-count">
                    {% trans "Topics" %}
                </th>
                <th width="10%" class="forum-post-count">
                    {% trans "Posts" %}
                </th>
                <th width="20%" class="forum-last-post">
                    {% trans "Last posts" %}
                </th>
          </tr>
        </thead>
        <tbody>
        {% for forum in forum_list|pybb_forum_unread:user %}
            <tr class="forum-row">
                <td width="60%" class="forum-name {% if forum.unread %} forum-unread{% endif %}">
                    <div class="state-indicator"></div>
                    <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a> {% if forum.hidden %}[{% trans "Hidden" %}]{% endif %}
                    <div class="forum-description">
                        {{ forum.description|safe }}
                    </div>
                </td>
                <td width="10%" class="forum-topic-count">
                    {{ forum.topic_count }}
                </td>
                <td width="10%" class="forum-post-count">
                    {{ forum.post_count }}
                </td>
                <td width="20%" class="forum-last-post">
                    {% include "pybb/forum_last_update_info.html" %}
                </td>
      </tr>
        {% empty %}
            {% if category %}
                <h3>{% trans "No forums created" %}</h3>
                <a href="{% url 'admin:pybb_forum_add' %}">{% trans "Add forum now" %}</a>
            {%  endif %}
        {% endfor %}
        <td width="60%">&nbsp;</td>
        <td width="10%">&nbsp;</td>
        <td width="10%">&nbsp;</td>
        <td width="20%">&nbsp;</td>
        </tbody>
  </table>
{% endif %}
    </div>
  </div>
</section>
